mixin header
  header.header
    nav.navigation 
      ul.navigation__list 
        li.navigation__item 
          a(href="/api" alt="Главная") Главная
        li.navigation__item 
          a(href="/api/books" alt="Все книги") Все книги
