mixin header
  header.header
    nav.navigation 
      ul.navigation__list 
        li.navigation__item 
          a(href="/" alt="Главная") Главная
        li.navigation__item 
          a(href="/books" alt="Все книги") Все книги
