extends ../layout.pug

block header 
  link(rel="stylesheet" href="/create/index.css")
  
block content 
  .form 
    h1= title
    form(action="books" method="post" enctype='multipart/form-data')
      p.form__item
        label(for="name") Название
        input(type="text" id="name" name="title" required)
      p.form__item
        label(for="description") Описание книги
        textarea(type="text" id="description" name="description")
      p.form__item
        label(for="authors") Авторы
        input(type="text" id="authors" name="authors" required)
      p.form__item
        label(for="cover") обложка
        input(type="file" id="cover" name="cover" accept="image/png, image/jpeg")
      +button('Сохранить')

    script(defer src="/create/index.js")