extends ../layout.pug

block header 
  link(rel="stylesheet" href="/view/index.css")
  script(defer src="/view/index.js")
block content 
  .book-content 
    h1= book.title
    .book__wrapper 
      img(src=book.cover).book__cover
      .book__info 
        p.book__description= book.description
        .book__authors
          case book.authors.length
            when 1
              p 
                b Автор:
            default 
              p 
                b Авторы:
          each author in book.authors
            p= author

        +link('/update/'+book.id, 'Редактировать книгу').blue-btn--small.book__button